/*===========================================
=               Глобальные стили            =
============================================*/

body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;

	text-transform: uppercase;

	color: #333333;
	background-color: #ffffff;
}

@font-face {
	font-family: "symbols-sedona";
	font-weight: normal;
	font-style: normal;

	src: url("../fonts/symbols-sedona.woff") format("woff"),
	url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: "symbols-sedona";
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1em;

	display: inline-block;

	width: 1em;
	margin-right: 0.2em;
	margin-left: 0.2em;

	text-align: center;
	text-decoration: inherit;
	text-transform: none;

	speak: none;
}

.icon-facebook::before {
	content: "\66";
}
.icon-twitter::before {
	content: "\74";
}
.icon-up-dir::before {
	content: "\25b2";
}
.icon-down-dir::before {
	content: "\25bc";
}
.icon-star::before {
	content: "\2605";
}
.icon-check-off::before {
	content: "\2610";
}
.icon-check-on::before {
	content: "\2611";
}
.icon-calendar::before {
	content: "\e800";
}
.icon-plus::before {
	content: "\e801";
}
.icon-minus::before {
	content: "\e802";
}
.icon-youtube::before {
	content: "\f39e";
}

a {
	text-decoration: none;
}

input[type="checkbox"] {
	display: none;
}

.wrapper {
	position: relative;

	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;

	box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
}

/*=============================================
=            Хедэр - навигация и лого         =
=============================================*/

.main-navigation {
	position: relative;
}

.main-navigation a {
	font-weight: bold;

	color: #000000;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active {
	color: #766357;
}

.main-navigation .active:hover {
	color: #604e43;
}

.main-navigation .active:active {
	color: rgba(118, 99, 87, 0.3);
}

.main-navigation ul {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;

	justify-content: center;
}

.main-navigation li {
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation li:first-child {
	margin-left: 6%;
}

.main-navigation li:last-child {
	margin-right: 6%;
}

.main-navigation li:nth-child(n+3) {
	text-align: right;
}

.main-navigation .logo {
	position: relative;

	width: 8%;
}

.logo a {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;

	transform: translateX(-50%);
}

/*==============================================
=                 Постер                       =
===============================================*/

.poster {
	position: relative;

	width: 100%;
	height: 512px;

	text-align: center;

	background-image: url(../img/poster.jpg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
}

.poster::after {
	position: absolute;
	bottom: 0;

	display: block;

	width: 100%;
	height: 37px;

	content: "";

	background-image: url(../img/mask.svg);
	background-repeat: no-repeat;
	background-size: 100% 37px;
}

.poster-text {
	position: relative;
	top: 41.9%;
}

.poster-text::before,
.poster-text::after {
	position: absolute;
	left: 50%;

	display: block;

	content: "";

	background-repeat: no-repeat;
}

.poster-text::before {
	top: -138px;

	width: 256px;
	height: 86px;
	margin-left: -128px;

	background-image: url(../img/intro-sprite.png);
	background-position: -5px -95px;
}

.poster-text::after {
	bottom: -127px;

	width: 296px;
	height: 80px;
	margin-left: -148px;

	background-image: url(../img/intro-sprite.png);
	background-position: -5px -5px;
}

/*==================================================
=             Особенности - общие стили            =
==================================================*/

.mainpage-content {
	font-size: 14px;
	line-height: 21px;

	text-align: center;
}

.content-intro {
	line-height: 26px;

	padding-top: 4em;
	padding-bottom: 2.6em;
}

.content-title {
	font-size: 21px;

	width: 445px;
	margin: 0 auto;
	padding-bottom: 14px;

	color: #000000;
}

.reasons-container {
	position: relative;
	z-index: 2;

	display: flex;

	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;

	width: 33.33%;
	height: 256px;

	align-items: center;
}

.advantages-title {
	font-size: 21px;

	width: 151px;
	margin: 0;
	padding-top: 47px;

	color: #000000;
}

.column p {
	max-width: 80%;
	margin: 0;
	padding: 0 15%;
	padding-bottom: 1em;

	flex-grow: 1;
}

.advantages-description {
	position: relative;

	height: 330px;
}

.advantages-description::before {
	position: absolute;
	left: 50%;

	display: block;

	content: "";
	transform: translateX(-50%);

	background-image: url(../img/adv-descr.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.lodging::before {
	top: 60px;

	width: 75px;
	height: 72px;

	background-position: 0 0;
}

.food::before {
	top: 62px;

	width: 74px;
	height: 69px;

	background-position: 0 -71px;
}

.souvenirs::before {
	top: 57px;

	width: 64px;
	height: 76px;

	background-position: 0 -140px;
	background-size: 116%;
}

.advantages-description p {
	padding: 0 18%;
}

.advantages-description h2 {
	padding-top: 7.7em;
	padding-bottom: 1.1em;
}

.advantages-number {
	padding-top: 2em;
	padding-bottom: 1.5em;
}

.advantages-poster {
	position: relative;

	overflow: hidden;

	width: 66.67%;

	text-align: left;
}

.advantages-poster img {
	position: absolute;
	top: 50%;
	left: 0;

	max-width: 100%;
	height: auto;

	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.column:nth-child(n+8) .advantages-number {
	padding-top: 1.3em;
}

.column:nth-child(n+8) {
	background-color: #eeeeee;
}

.column:nth-child(6n+1),
.column:nth-child(6n+1)  h2 {
	color: #ffffff;
	background-color: #81b3d2;
}

/*=====================================================
=                       Поиск отеля                   =
=====================================================*/

/*----------  Анимация формы  ----------*/


@keyframes show {
	0% {
		transform: scaleY(0) translateY(-100%);
	}
	50% {
		transform: scaleY(1) translateY(20%);
	}
	70% {
		transform: scaleY(0.8) translateY(0%);
	}
	90% {
		transform: scaleY(1) translateY(10%);
	}
	100% {
		transform: scaleY(1) translateY(0);
	}
}

@keyframes hide {
	0% {
		transform: scaleY(1) translateY(0);
	}
	100% {
		transform: scaleY(0) translateY(-100%);
	}
}

/**
 *
 * Конец описания анимации
 *
 */


.hotels-search {
	position: relative;
}

.section-header {
	line-height: 24px;

	position: relative;
	z-index: 2;

	padding-top: 4em;
	padding-bottom: 45px;

	background-color: #ffffff;
}

.section-title {
	font-size: 30px;

	color: #000000;
}

.section-info {
	padding-top: 32px;
}

.hotels-search h2,
.hotels-search p {
	margin: 0;

	text-align: center;
}

/*==========================================
=            Форма поиска отеля            =
==========================================*/

.search-form {
	line-height: 26px;

	position: absolute;
	z-index: 1;
	top: 291px;
	left: 50%;

	width: 568px;
	margin-left: -284px;

	transform: translateY(-100%);
}

.modal-content-show {
	animation: show 0.75s forwards;
}

.modal-content-hide {
	animation: hide 0.75s forwards;
}

.form-title-btn {
	font-size: 21px;
	font-weight: bold;

	position: relative;
	z-index: 2;

	display: block;

	width: 568px;
	margin: 0 auto;
	padding: 30px 0;

	text-align: center;

	color: #ffffff;
	background-color: #766357;
}

.search-form form,
.form-group,
.half-width {
	display: flex;

	justify-content: space-between;
}

.form-group,
.half-width {
	align-items: center;
}

.date {
	flex-grow: 1;
}

.icon-calendar {
	position: relative;

	display: block;

	box-sizing: border-box;
	width: 40px;
	height: 38px;

	text-align: center;

	background-color: #f2f2f2;
}

.icon-calendar:before {
	font-size: 21px;
	line-height: 26px;

	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -13px;
	margin-left: -10.5px;

	color: #c2c2c2;
}

.search-form form {
	font-size: 14px;
	font-weight: bold;

	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	height: 395px;
	padding-top: 54.9px;
	padding-right: 55px;
	padding-bottom: 55px;
	padding-left: 55px;

	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form input[type="text"] {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;

	box-sizing: border-box;
	height: 38px;
	padding-top: 5px;
	padding-bottom: 5px;

	text-transform: uppercase;

	border: none;
	background-color: #f2f2f2;
}

.form-group input[type="text"] {
	width: 304.7px;
	padding-left: 15px;
}

.half-width {
	box-sizing: border-box;
	width: 50%;
	margin-bottom: 26px;
}

.counter-group {
	font-size: 0;
}

.counter-group button {
	font-size: 14px;

	width: 39px;
	height: 38px;

	cursor: pointer;

	color: #a9a9a9;
	border: none;
	background-color: #f2f2f2;
}

.counter-group input[type="text"] {
	font-size: 14px;

	width: 36px;
	padding-right: 0;
	padding-left: 0;

	text-align: center;
}

.half-width:first-child {
	padding-right: 3px;
}

.half-width:last-child {
	padding-left: 50px;
}

.btn {
	font-family: inherit;
	font-size: 21px;
	font-weight: inherit;
	line-height: inherit;

	padding-top: 16px;
	padding-bottom: 16px;

	text-transform: uppercase;

	color: #ffffff;
	border: none;
	background-color: #81b3d2;
}

/*====================================================
=            Динамика формы по стайлгайду            =
====================================================*/

.social-btn:focus,
.btn:focus {
	outline: none;
}

.social-btn:hover,
.btn:hover {
	background-color: #669ec0;
}

.social-btn:active,
.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

input[type="text"]:focus {
	outline: none;
}

input[name="date"]:hover {
	background-color: #c2c2c2;
}

input[name="date"]:focus {
	padding-left: 13px;

	border-top: 2px solid #c2c2c2;
	border-bottom: 2px solid #c2c2c2;
	border-left: 2px solid #c2c2c2;
	background-color: #ffffff;
}

.icon-calendar:hover::before,
input[name="date"]:hover ~ .icon-calendar::before {
	color: #000000;
}

input[name="date"]:hover ~ .icon-calendar {
	color: #000000;
	background-color: #c2c2c2;
}

input[name="date"]:focus + .icon-calendar {
	border-top: 2px solid #c2c2c2;
	border-right: 2px solid #c2c2c2;
	border-bottom: 2px solid #c2c2c2;
	background-color: #ffffff;
}

input[name="date"]:focus + .icon-calendar::before {
	margin-left: -9.7px;
}

.icon-calendar:active::before {
	color: #81b3d2;
}

.counter-group button:hover::before {
	color: #000000;
}

.counter-group button:focus {
	outline: none;
}

.counter-group button:active::before {
	color: #81b3d2;
}

.map-canvas {
	height: 593px;
}

/*============================================
=                  Футер                     =
=============================================*/

.main-footer {
	position: relative;
	z-index: 10;

	display: flex;

	width: 100%;
	margin-top: -120px;
	padding-top: 36px;
	padding-bottom: 36px;

	text-align: center;

	background-color: rgba(255, 255, 255, 0.9);

	align-items: center;
}

.inner-footer {
	margin-top: 0;
}

.developer,
.footer-sosial,
.our-hash-tag {
	width: 33.33%;

	color: #000000;
}

.developer,
.footer-sosial {
	display: flex;

	align-items: center;
	justify-content: center;
}

.developer a {
	height: 39px;
	margin-left: 10px;
}

.our-hash-tag {
	font-size: 21px;
	font-weight: bold;
}

.social-btn {
	position: relative;

	width: 46px;
	height: 48px;

	color: #ffffff;
	background-color: #81b3d2;
}

.social-btn::before {
	position: absolute;
	top: 50%;
	left: 50%;
}

.icon-twitter::before,
.icon-facebook::before {
	font-size: 19px;

	margin-top: -9.5px;
	margin-left: -9.5px;
}

.icon-facebook {
	margin-right: 6px;
	margin-left: 6px;
}

.icon-youtube::before {
	font-size: 23px;

	margin-top: -11.5px;
	margin-left: -11.5px;
}

.academy-logo {
	display: block;

	width: 113px;
	height: 39px;

	background-image: url(../img/logo-sprite.png);
	background-repeat: no-repeat;
	background-position: -5px -5px;
}

.academy-logo:hover {
	background-position: -5px -54px;
}

.academy-logo:active {
	opacity: 0.3;
	background-position: -5px -5px;
}

/*===========================================
=             Страница Гостиницы            =
===========================================*/

/*----------  Форма фильтрации  ----------*/

.hotels-filter {
	padding-top: 27px;
	padding-bottom: 31px;

	background-image: url(../img/poster-hotels.jpg);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: cover;
}

.hotels-filter form {
	line-height: 21px;

	display: flex;

	padding-right: 6%;
	padding-left: 6%;

	color: #ffffff;
}

.filter-group,
.range-group {
	width: 33.13%;
}

.filter-group,
.range-group {
	display: flex;
	flex-direction: column;
}

.filter-group:nth-child(2) {
	padding-left: 4.27%;
}

.filter-group-title {
	font-size: 16px;

	margin: 0;
	margin-bottom: 1.5em;
}

.filter-group label {
	position: relative;

	margin-bottom: 25.5px;
	padding-left: 40px;
}

.filter-group label:last-child {
	margin-bottom: 0;
}

.icon-check-off:before {
	font-size: 24px;
	line-height: 20px;

	position: absolute;
	top: 55%;
	left: -3px;

	margin: 0;
	margin-top: -10px;
	margin-right: -12px;

	content: "\2610";
	vertical-align: baseline;
}

input[type="checkbox"]:checked + .icon-check-off:before {
	left: -1.2px;

	content: "\2611";
}

input[type="checkbox"]:disabled + .icon-check-off:before {
	color: #6a6a6a;
}

input[type="checkbox"]:checked:disabled + .icon-check-off:before {
	left: -1.2px;

	content: "\2611";

	color: #6a6a6a;
}

/*----------  Секция Стоимость (слайдер цены)  ----------*/

.price-group {
	position: relative;

	display: flex;

	padding-top: 5.5px;
	padding-bottom: 5.5px;

	border: 2px solid #ffffff;
	border-radius: 2px;

	justify-content: space-around;
}

.price-group::before {
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;

	width: 2px;
	height: 22px;
	margin-top: -11px;
	margin-left: -1px;

	content: "";

	background-color: #ffffff;
}

.price-group label {
	width: 45%;

	text-align: right;
}

.price-group input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	display: inline-block;

	box-sizing: border-box;
	max-width: 50%;
	height: 21px;
	padding-right: 10px;

	color: inherit;
	border: none;
	background-color: transparent;
}

.range-title {
	margin-bottom: 10px;
}

.range-controls {
	position: relative;

	box-sizing: border-box;
	height: 44px;
	margin-top: -1px;
	margin-bottom: 11px;
	padding-left: 5px;
}

.range-controls .scale {
	position: absolute;
	top: 50%;

	width: 97.4%;
	height: 2px;
	margin-top: -1px;

	background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	position: relative;
	top: 50%;

	width: 71%;
	height: 2px;
	margin-top: -1px;

	background-color: #ffffff;
}

.range-controls .toggle {
	position: absolute;
	z-index: 3;
	top: 50%;

	width: 4px;
	height: 4px;
	margin-top: -10px;

	cursor: pointer;

	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
}

.max-toggle {
	left: 0;
}

.max-toggle {
	left: 71%;
}

.toggle:hover {
	background-color: #1c4f80;
}

.form-btn {
	font-family: inherit;

	box-sizing: border-box;
	width: 137px;
	margin: 0 auto;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: inherit;
	border: 2px solid #ffffff;
	border-radius: 2px;
	background-color: transparent;
}

.form-btn:hover {
	color: #000000;
	background-color: #ffffff;
}

/*=======================================================
=            Секция Результаты поиска отелей            =
=======================================================*/

.search-section-header {
	display: flex;

	padding-top: 30px;
	padding-right: 6%;
	padding-bottom: 26px;
	padding-left: 6%;

	align-items: baseline;
}

.results-count {
	width: 24%;
	margin: 0;
}

/*----------  Блок сортировки результатов поиска  ----------*/

.sorting {
	font-size: 12px;
	line-height: 18px;

	display: flex;

	flex-grow: 1;
}

.sorting-title {
	margin: 0;
	margin-right: 8%;
}

.sorting-type-list {
	margin: 0;
	padding: 0;

	list-style: none;

	flex-grow: 1;
}

.sorting-type-list li {
	display: inline-block;

	margin-right: 9%;

	vertical-align: top;;
}

.sorting-type-list li:last-child {
	margin-right: 0;
}

.sorting-type {
	text-decoration: none;

	opacity: 0.3;
	color: inherit;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-type:hover {
	opacity: 1;
	color: #81b3d2;
}

.sorting-type:active,
.sorting-type .active {
	opacity: 1;
	color: #000000;
	border-style: none;
}

.sorting-type-list .active {
	opacity: 1;
	color: #81b3d2;
	border-style: none;
}

.sorting-direction {
	width: 66px;
}

.sorting-direction a {
	font-size: 23px;
	line-height: 20px;

	position: relative;

	margin-left: 24.7px;

	text-decoration: none;

	color: #c6c2bd;
}

.sorting-direction a:hover {
	color: #000000;
}

.sorting-direction a:active {
	color: #81b3d2;
}

.sorting-direction .active,
.sorting-direction .active:hover {
	color: #81b3d2;
}

.sorting-direction a::before {
	position: absolute;
	top: 2.5px;

	margin: 0;
}

/*----------  Блок Результаты поиска  ----------*/

.results-row {
	line-height: 21px;

	display: flex;

	padding-top: 25px;
	padding-right: 6%;
	padding-bottom: 30px;
	padding-left: 6%;

	border-top: 1px solid #e5e5e5;

	align-items: flex-end;
}

.results-row:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-thumb {
	width: 135px;
	height: 90px;
}

.hotel-thumb img {
	width: 100%;
	height: auto;
}

.hotel-info {
	display: flex;

	box-sizing: border-box;
	width: 289px;
	padding-left: 31px;

	flex-wrap: wrap;
	justify-content: space-between;
}

.hotel-name {
	line-height: 26px;

	width: 100%;
	margin: 0;

	color: #000000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	opacity: 0.3;
	color: #000000;
}

.hotel-type,
.hotel-price {
	padding-top: 7px;
	padding-bottom: 14px;
}

.hotel-type,
.results-btn {
	width: 110px;
}

.hotel-price,
.order-btn {
	width: 142px;
}

.results-btn {
	font-weight: bold;

	padding-top: 3px;
	padding-bottom: 3px;

	text-align: center;

	color: #ffffff;
	background-color: #81b3d2;
}

.results-btn:hover {
	background-color: #669ec0;
}

.results-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.order-btn {
	background-color: #766357;
}

.order-btn:hover {
	background-color: #604e43;
}

.order-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

/*----------  Блок Рейтинг отеля  ----------*/

.hotel-rating {
	display: flex;
	flex-direction: column;

	height: 90px;

	text-align: right;

	justify-content: space-between;
	flex-grow: 1;
}

.star-value {
	display: none;
}

.rating-stars {
	font-size: 0;

	position: relative;

	width: 115px;
	height: 21px;

	align-self: flex-end;
}

.rating-value {
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 3px;
	padding-left: 15px;

	background-color: #f2f2f2;

	align-self: flex-end;
}

.rating-value p {
	margin: 0;
}

.icon-star {
	color: #81b3d2;
}

.icon-star::before {
	font-size: 19px;

	margin: 0;
	margin-top: -2px;
	margin-right: 4.5px;
}

.icon-star:last-child::before {
	margin-right: 0;
}

.rating-stars[data-star-value="4"] > .icon-star:nth-child(-n+2) {
	display: none;
}

.rating-stars[data-star-value="3"] > .icon-star:nth-child(-n+3) {
	display: none;
}

.rating-stars[data-star-value="2"] > .icon-star:nth-child(-n+4) {
	display: none;
}

.rating-stars[data-star-value="1"] > .icon-star:nth-child(-n+5) {
	display: none;
}
